Exploratory data analysis(EDA )

Цель этапа - cформулировать предположения и гипотезы для построения модели. Проверить качество данных и очистить их. Определиться с параметрами модели.

In [64]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import combinations
from scipy.stats import ttest_ind

pd.set_option('display.max_rows', 50) # показывать больше строк
pd.set_option('display.max_columns', 50) # показывать больше колонок

dataset = pd.read_csv('data.csv')

In [65]:
# Получаем информацию о датафрейме
display(dataset.head(10))
dataset.info()

,status,private pool,propertyType,street,baths,homeFacts,fireplace,city,schools,sqft,zipcode,beds,state,stories,mls-id,PrivatePool,MlsId,target
0,Active,NaN,Single Family Home,240 Heather Ln,3.5,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",Gas Logs,Southern Pines,"[{'rating': ['4', '4', '7', 'NR', '4', '7', 'N...",2900,28387,4,NC,NaN,NaN,NaN,611019,"$418,000"
1,for sale,NaN,single-family home,12911 E Heroy Ave,3 Baths,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",NaN,Spokane Valley,"[{'rating': ['4/10', 'None/10', '4/10'], 'data...","1,947 sqft",99216,3 Beds,WA,2.0,NaN,NaN,201916904,"$310,000"
2,for sale,NaN,single-family home,2005 Westridge Rd,2 Baths,"{'atAGlanceFacts': [{'factValue': '1961', 'fac...",yes,Los Angeles,"[{'rating': ['8/10', '4/10', '8/10'], 'data': ...","3,000 sqft",90049,3 Beds,CA,1.0,NaN,yes,FR19221027,"$2,895,000"
3,for sale,NaN,single-family home,4311 Livingston Ave,8 Baths,"{'atAGlanceFacts': [{'factValue': '2006', 'fac...",yes,Dallas,"[{'rating': ['9/10', '9/10', '10/10', '9/10'],...","6,457 sqft",75205,5 Beds,TX,3.0,NaN,NaN,14191809,"$2,395,000"
4,for sale,NaN,lot/land,1524 Kiscoe St,NaN,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Palm Bay,"[{'rating': ['4/10', '5/10', '5/10'], 'data': ...",NaN,32908,NaN,FL,NaN,NaN,NaN,861745,"$5,000"
5,for sale,NaN,townhouse,1624 S Newkirk St,NaN,"{'atAGlanceFacts': [{'factValue': '1920', 'fac...",NaN,Philadelphia,"[{'rating': [], 'data': {'Distance': [], 'Grad...",897 sqft,19145,2 Beds,PA,2.0,NaN,NaN,PAPH847006,"$209,000"
6,Active,NaN,Florida,552 Casanova Ct,NaN,"{'atAGlanceFacts': [{'factValue': '2006', 'fac...",NaN,POINCIANA,"[{'rating': ['3', '3', '1', 'NR'], 'data': {'D...","1,507",34759,NaN,FL,One,NaN,NaN,S5026943,"181,500"
7,Active,NaN,NaN,6094 Mingle Dr,NaN,"{'atAGlanceFacts': [{'factValue': '1976', 'fac...",NaN,Memphis,"[{'rating': ['4', '2', '2'], 'data': {'Distanc...",NaN,38115,NaN,TN,NaN,NaN,NaN,10063506,"68,000"
8,Active,NaN,Single Family Home,11182 Owl Ave,2,"{'atAGlanceFacts': [{'factValue': '1970', 'fac...",NaN,Mason City,"[{'rating': ['2', '2', '4', '7', '4', 'NR'], '...",3588,50401,3,IA,NaN,NaN,NaN,190988,"$244,900"
9,NaN,NaN,Single Family,8612 Cedar Plains Ln,3,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",NaN,Houston,"[{'rating': ['4/10', '3/10', '2/10'], 'data': ...","1,930",77080,3,TX,2.0,NaN,NaN,73968331,"$311,995"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377185 entries, 0 to 377184
Data columns (total 18 columns):
status          337267 non-null object
private pool    4181 non-null object
propertyType    342452 non-null object
street          377183 non-null object
baths           270847 non-null object
homeFacts       377185 non-null object
fireplace       103115 non-null object
city            377151 non-null object
schools         377185 non-null object
sqft            336608 non-null object
zipcode         377185 non-null object
beds            285903 non-null object
state           377185 non-null object
stories         226470 non-null object
mls-id          24942 non-null object
PrivatePool     40311 non-null object
MlsId           310305 non-null object
target          374704 non-null object
dtypes: object(18)
memory usage: 51.8+ MB

In [67]:
# Постчитаем количество пропущенных занчений для каждого из столбцов 
dataset.isna().sum()

status           39918
private pool    373004
propertyType     34733
street               2
baths           106338
homeFacts            0
fireplace       274070
city                34
schools              0
sqft             40577
zipcode              0
beds             91282
state                0
stories         150715
mls-id          352243
PrivatePool     336874
MlsId            66880
target            2481
dtype: int64

In [68]:
dataset['status'].value_counts()

for sale                  156104
Active                    105207
For sale                   43465
foreclosure                 6426
New construction            5475
                           ...
Sold: $15,000                  1
Under Contract W/ Bckp         1
Coming soon: Nov 17.           1
Pending Backups Wanted         1
Coming soon: Nov 11.           1
Name: status, Length: 159, dtype: int64

In [58]:
dataset['status'] = dataset['status'].str.replace(r'.*for sale*', 'For sale', regex= True)

In [69]:
dataset['status'].value_counts()

for sale                  156104
Active                    105207
For sale                   43465
foreclosure                 6426
New construction            5475
                           ...
Sold: $15,000                  1
Under Contract W/ Bckp         1
Coming soon: Nov 17.           1
Pending Backups Wanted         1
Coming soon: Nov 11.           1
Name: status, Length: 159, dtype: int64

In [73]:
#Теперь надо в ценах везде перед последними 3 знаками убрать запятую х[0:-3]
dataset['target'] = dataset['target'].apply(lambda x:x[0:-3]+'')

TypeError: 'float' object is not subscriptable

In [74]:
#убираем все знаки, кроме цифр
s = dataset['target']
s1 = "".join(c for c in s if  c.isdecimal())
print(s1)

AttributeError: 'float' object has no attribute 'isdecimal'

In [63]:
dataset.target = pd.to_numeric(dataset.target)#задаём числовой формат

ValueError: Unable to parse string "$418,000" at position 0

In [53]:
dataset[dataset.status =='For sale'].target()

TypeError: 'Series' object is not callable

In [ ]:
dataset['private pool'].value_counts()

In [ ]:
dataset['propertyType'].value_counts()

In [ ]:
dataset['street'].value_counts()

In [ ]:
dataset['baths'].value_counts()

In [ ]:
dataset['homeFacts'].value_counts()

In [ ]:
dataset['fireplace'].value_counts()

In [ ]:
dataset['city'].value_counts()

In [ ]:
dataset['schools'].value_counts()

In [ ]:
dataset['sqft'].value_counts()

In [ ]:
dataset['zipcode'].value_counts()

In [ ]:
dataset['beds'].value_counts()

In [ ]:
dataset['state'].value_counts()

In [ ]:
dataset['stories'].value_counts()

In [ ]:
dataset['mls-id'].value_counts()

In [ ]:
dataset['PrivatePool'].value_counts()

In [ ]:
dataset['MlsId'].value_counts()

In [ ]:
dataset['target'].value_counts()