Exploratory data analysis(EDA )

Цель этапа - cформулировать предположения и гипотезы для построения модели. Проверить качество данных и очистить их. Определиться с параметрами модели.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import combinations
from scipy.stats import ttest_ind

pd.set_option('display.max_rows', 50) # показывать больше строк
pd.set_option('display.max_columns', 50) # показывать больше колонок

dataset = pd.read_csv('data.csv')

In [4]:
# Получаем информацию о датафрейме
display(stud.head(10))
dataset.info()

,status,private pool,propertyType,street,baths,homeFacts,fireplace,city,schools,sqft,zipcode,beds,state,stories,mls-id,PrivatePool,MlsId,target
0,Active,NaN,Single Family Home,240 Heather Ln,3.5,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",Gas Logs,Southern Pines,"[{'rating': ['4', '4', '7', 'NR', '4', '7', 'N...",2900,28387,4,NC,NaN,NaN,NaN,611019,"$418,000"
1,for sale,NaN,single-family home,12911 E Heroy Ave,3 Baths,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",NaN,Spokane Valley,"[{'rating': ['4/10', 'None/10', '4/10'], 'data...","1,947 sqft",99216,3 Beds,WA,2.0,NaN,NaN,201916904,"$310,000"
2,for sale,NaN,single-family home,2005 Westridge Rd,2 Baths,"{'atAGlanceFacts': [{'factValue': '1961', 'fac...",yes,Los Angeles,"[{'rating': ['8/10', '4/10', '8/10'], 'data': ...","3,000 sqft",90049,3 Beds,CA,1.0,NaN,yes,FR19221027,"$2,895,000"
3,for sale,NaN,single-family home,4311 Livingston Ave,8 Baths,"{'atAGlanceFacts': [{'factValue': '2006', 'fac...",yes,Dallas,"[{'rating': ['9/10', '9/10', '10/10', '9/10'],...","6,457 sqft",75205,5 Beds,TX,3.0,NaN,NaN,14191809,"$2,395,000"
4,for sale,NaN,lot/land,1524 Kiscoe St,NaN,"{'atAGlanceFacts': [{'factValue': '', 'factLab...",NaN,Palm Bay,"[{'rating': ['4/10', '5/10', '5/10'], 'data': ...",NaN,32908,NaN,FL,NaN,NaN,NaN,861745,"$5,000"
5,for sale,NaN,townhouse,1624 S Newkirk St,NaN,"{'atAGlanceFacts': [{'factValue': '1920', 'fac...",NaN,Philadelphia,"[{'rating': [], 'data': {'Distance': [], 'Grad...",897 sqft,19145,2 Beds,PA,2.0,NaN,NaN,PAPH847006,"$209,000"
6,Active,NaN,Florida,552 Casanova Ct,NaN,"{'atAGlanceFacts': [{'factValue': '2006', 'fac...",NaN,POINCIANA,"[{'rating': ['3', '3', '1', 'NR'], 'data': {'D...","1,507",34759,NaN,FL,One,NaN,NaN,S5026943,"181,500"
7,Active,NaN,NaN,6094 Mingle Dr,NaN,"{'atAGlanceFacts': [{'factValue': '1976', 'fac...",NaN,Memphis,"[{'rating': ['4', '2', '2'], 'data': {'Distanc...",NaN,38115,NaN,TN,NaN,NaN,NaN,10063506,"68,000"
8,Active,NaN,Single Family Home,11182 Owl Ave,2,"{'atAGlanceFacts': [{'factValue': '1970', 'fac...",NaN,Mason City,"[{'rating': ['2', '2', '4', '7', '4', 'NR'], '...",3588,50401,3,IA,NaN,NaN,NaN,190988,"$244,900"
9,NaN,NaN,Single Family,8612 Cedar Plains Ln,3,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",NaN,Houston,"[{'rating': ['4/10', '3/10', '2/10'], 'data': ...","1,930",77080,3,TX,2.0,NaN,NaN,73968331,"$311,995"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377185 entries, 0 to 377184
Data columns (total 18 columns):
status          337267 non-null object
private pool    4181 non-null object
propertyType    342452 non-null object
street          377183 non-null object
baths           270847 non-null object
homeFacts       377185 non-null object
fireplace       103115 non-null object
city            377151 non-null object
schools         377185 non-null object
sqft            336608 non-null object
zipcode         377185 non-null object
beds            285903 non-null object
state           377185 non-null object
stories         226470 non-null object
mls-id          24942 non-null object
PrivatePool     40311 non-null object
MlsId           310305 non-null object
target          374704 non-null object
dtypes: object(18)
memory usage: 51.8+ MB

In [5]:
# Постчитаем количество пропущенных занчений для каждого из столбцов 
dataset.isna().sum()

status           39918
private pool    373004
propertyType     34733
street               2
baths           106338
homeFacts            0
fireplace       274070
city                34
schools              0
sqft             40577
zipcode              0
beds             91282
state                0
stories         150715
mls-id          352243
PrivatePool     336874
MlsId            66880
target            2481
dtype: int64

In [7]:
dataset['status'].value_counts()

for sale                   156104
Active                     105207
For sale                    43465
foreclosure                  6426
New construction             5475
                            ...
Backup                          1
Pending W/Backup Wanted         1
Pending Take Backups            1
Pending W/Escape Clause         1
Coming soon: Nov 5.             1
Name: status, Length: 159, dtype: int64

In [8]:
dataset['private pool'].value_counts()

Yes    4181
Name: private pool, dtype: int64

In [9]:
dataset['propertyType'].value_counts()

single-family home                   92206
Single Family                        62869
Single Family Home                   31728
condo                                25968
lot/land                             20552
                                     ...
Bungalow, Craftsman, Transitional        1
Loft, Art Deco                           1
Bungalow, Craftsman, Farm House          1
Florida, Ranch, One Story                1
Transitional, Colonial                   1
Name: propertyType, Length: 1280, dtype: int64

In [10]:
dataset['street'].value_counts()

Address Not Disclosed       672
Undisclosed Address         517
(undisclosed Address)       391
Address Not Available       175
Unknown Address              72
                           ...
7133 Pocahontas St            1
742 Lynndale St N             1
322 Mountainview Dr #14       1
15215 Amberly Dr #208         1
3500 N Lake Shore Dr #4A      1
Name: street, Length: 337076, dtype: int64

In [11]:
dataset['baths'].value_counts()

2 Baths               52466
3 Baths               35506
2                     20452
2.0                   16576
4 Baths               14764
                      ...
30.0                      1
2.8 Baths                 1
Bathrooms: SemiMod        1
60 Baths                  1
39 Baths                  1
Name: baths, Length: 229, dtype: int64

In [12]:
dataset['homeFacts'].value_counts()

{'atAGlanceFacts': [{'factValue': '', 'factLabel': 'Year built'}, {'factValue': '', 'factLabel': 'Remodeled year'}, {'factValue': '', 'factLabel': 'Heating'}, {'factValue': '', 'factLabel': 'Cooling'}, {'factValue': '', 'factLabel': 'Parking'}, {'factValue': '—', 'factLabel': 'lotsize'}, {'factValue': None, 'factLabel': 'Price/sqft'}]}                                                                                           7174
{'atAGlanceFacts': [{'factValue': None, 'factLabel': 'Year built'}, {'factValue': None, 'factLabel': 'Remodeled year'}, {'factValue': None, 'factLabel': 'Heating'}, {'factValue': None, 'factLabel': 'Cooling'}, {'factValue': None, 'factLabel': 'Parking'}, {'factValue': None, 'factLabel': 'lotsize'}, {'factValue': None, 'factLabel': 'Price/sqft'}]}                                                                                3532
{'atAGlanceFacts': [{'factValue': '', 'factLabel': 'Year built'}, {'factValue': '', 'factLabel': 'Remodeled year'}, {'factValue': '', 'factLabel': 'Heating'}, {'factValue': '', 'factLabel': 'Cooling'}, {'factValue': '', 'factLabel': 'Parking'}, {'factValue': '', 'factLabel': 'lotsize'}, {'factValue': None, 'factLabel': 'Price/sqft'}]}                                                                                             567
{'atAGlanceFacts': [{'factValue': '', 'factLabel': 'Year built'}, {'factValue': '', 'factLabel': 'Remodeled year'}, {'factValue': '', 'factLabel': 'Heating'}, {'factValue': '', 'factLabel': 'Cooling'}, {'factValue': '', 'factLabel': 'Parking'}, {'factValue': '10000', 'factLabel': 'lotsize'}, {'factValue': None, 'factLabel': 'Price/sqft'}]}                                                                                        533
{'atAGlanceFacts': [{'factValue': '', 'factLabel': 'Year built'}, {'factValue': '', 'factLabel': 'Remodeled year'}, {'factValue': '', 'factLabel': 'Heating'}, {'factValue': '', 'factLabel': 'Cooling'}, {'factValue': '', 'factLabel': 'Parking'}, {'factValue': '10,000 Sq. Ft.', 'factLabel': 'lotsize'}, {'factValue': None, 'factLabel': 'Price/sqft'}]}                                                                               370
                                                                                                                                                                                                                                                                                                                                                                                                                                            ...
{'atAGlanceFacts': [{'factValue': '1954', 'factLabel': 'Year built'}, {'factValue': '1954', 'factLabel': 'Remodeled year'}, {'factValue': 'Other', 'factLabel': 'Heating'}, {'factValue': 'Other', 'factLabel': 'Cooling'}, {'factValue': 'Carport', 'factLabel': 'Parking'}, {'factValue': None, 'factLabel': 'lotsize'}, {'factValue': '$340', 'factLabel': 'Price/sqft'}]}                                                                  1
{'atAGlanceFacts': [{'factValue': '1913', 'factLabel': 'Year built'}, {'factValue': '1920', 'factLabel': 'Remodeled year'}, {'factValue': 'Forced air', 'factLabel': 'Heating'}, {'factValue': 'Central', 'factLabel': 'Cooling'}, {'factValue': '1 space', 'factLabel': 'Parking'}, {'factValue': '2,273 sqft', 'factLabel': 'lotsize'}, {'factValue': '$1,042', 'factLabel': 'Price/sqft'}]}                                                 1
{'atAGlanceFacts': [{'factValue': '1900', 'factLabel': 'Year built'}, {'factValue': '', 'factLabel': 'Remodeled year'}, {'factValue': 'Gas Heater - Vented, Stove - Wood', 'factLabel': 'Heating'}, {'factValue': '', 'factLabel': 'Cooling'}, {'factValue': 'Parking', 'factLabel': 'Parking'}, {'factValue': '1772021', 'factLabel': 'lotsize'}, {'factValue': '$333', 'factLabel': 'Price/sqft'}]}                                          1
{'atAGlanceFacts': [{'factValue': '1967', 'factLabel': 'Year built'}, {'factValue': '1967', 'factLabel': 'Remodeled year'}, {'factValue': 'Central Air', 'factLabel': 'Heating'}, {'factValue': 'Has Cooling', 'factLabel': 'Cooling'}, {'factValue': '', 'factLabel': 'Parking'}, {'factValue': '—', 'factLabel': 'lotsize'}, {'factValue': '$304 / Sq. Ft.', 'factLabel': 'Price/sqft'}]}                                                    1
{'atAGlanceFacts': [{'factValue': '1996', 'factLabel': 'Year built'}, {'factValue': '', 'factLabel': 'Remodeled year'}, {'factValue': 'Gas Heat', 'factLabel': 'Heating'}, {'factValue': 'Refrigeration, Ceiling Fan(s)', 'factLabel': 'Cooling'}, {'factValue': 'Electric Door Opener, Slab Parking Spaces', 'factLabel': 'Parking'}, {'factValue': '8816', 'factLabel': 'lotsize'}, {'factValue': '$126', 'factLabel': 'Price/sqft'}]}       1
Name: homeFacts, Length: 321009, dtype: int64

In [13]:
dataset['fireplace'].value_counts()

yes                                                                 50356
Yes                                                                 20856
1                                                                   14544
2                                                                    2432
Not Applicable                                                       1993
                                                                    ...
Fireplace - Wood Burning, Ceiling Fan(s)                                1
Ceiling Fan, Utility Connection, Wet Bar                                1
Dehumidifier, Storage, Walk-In Closets, Wet Bar, Wood Burning FP        1
Gas, Two Way, One                                                       1
Extra Closets, In-Law Quarters, Storage, Utility Connection             1
Name: fireplace, Length: 1653, dtype: int64

In [14]:
dataset['city'].value_counts()

Houston             24442
San Antonio         15592
Miami               15524
Jacksonville        10015
Dallas               8856
                    ...
Nolanville              1
Eastvale                1
West Los Angeles        1
Glade Park              1
Quincy                  1
Name: city, Length: 2026, dtype: int64

In [15]:
dataset['schools'].value_counts()

[{'rating': [], 'data': {'Distance': [], 'Grades': []}, 'name': []}]                                                                                                                                                                                                                                                                                                                                                                                                  4204
[{'rating': ['4/10', '5/10', '6/10'], 'data': {'Distance': ['39.69mi', '39.69mi', '39.69mi'], 'Grades': ['9-12', '6-8', 'PK-5']}, 'name': ['Fort Hancock High School', 'Fort Hancock Middle School', 'Benito Martinez Elementary School']}]                                                                                                                                                                                                                            222
[{'rating': ['4/10', '6/10', '3/10'], 'data': {'Distance': ['3.62mi', '3.62mi', '3.62mi'], 'Grades': ['6-8', 'PK-5', '9-12']}, 'name': ['Horizon Middle School', 'Desert Hills Elementary School', 'Horizon High School']}]                                                                                                                                                                                                                                            168
[{'rating': ['5/10', '3/10', '5/10'], 'data': {'Distance': ['9.71mi', '8.92mi', '1.56mi'], 'Grades': ['5-8', '9-12', 'K-4']}, 'name': ['Cheatham Middle School', 'Cheatham Co Central', 'West Cheatham Elementary School']}]                                                                                                                                                                                                                                           133
[{'rating': ['10/10', '2/10'], 'data': {'Distance': ['22.4 mi', '1.5 mi'], 'Grades': ['PK-8', '9-12']}, 'name': ['Air Base Elementary School', 'Booker T. Washington Senior High School']}]                                                                                                                                                                                                                                                                             90
                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
[{'rating': ['2/10', '6/10', '3/10'], 'data': {'Distance': ['0.75mi', '2.89mi', '1.11mi'], 'Grades': ['PK-5', '9-12', '6-8']}, 'name': ['Finch Elementary School', 'Early College High School At Carver', 'Sylvan Hills Middle School']}]                                                                                                                                                                                                                                1
[{'rating': ['2/10', '2/10', '2/10'], 'data': {'Distance': ['1.2 mi', '3.4 mi', '2.8 mi'], 'Grades': ['PK-5', '6-8', '9-12']}, 'name': ['Lakeforest Elementary School', 'E B Aycock Middle School', 'South Central High School']}]                                                                                                                                                                                                                                       1
[{'rating': ['5', '5', '6', '5', '6', 'NR', 'NR'], 'data': {'Distance': ['0.8 mi', '0.1 mi', '0.7 mi', '0.5 mi', '1.7 mi', '1.0 mi', '1.2 mi'], 'Grades': ['K–5', '6–8', '9–12', 'K–5', '6–8', 'K–8', 'PK–5']}, 'name': ['Medill Elementary School', 'Thomas Ewing Junior High School', 'Lancaster High School', 'East Elementary School', 'General Sherman Junior High School', 'St Mary Elementary Private School', 'St Bernadette Elementary Private School']}]       1
[{'rating': ['8', 'NR', '8', '10'], 'data': {'Distance': ['0.1 mi', '0.0 mi', '0.0 mi', '0.1 mi'], 'Grades': ['K to 5', 'K to 12', '6 to 8', '6 to 8']}, 'name': ['P.S.10 Magnet School For Math, Science & Design Technology', 'PS 53', 'Junior High School 88 Peter Rouget', 'New Voices School of Academic And Creative Arts']}]                                                                                                                                      1
[{'rating': ['8/10', '8/10', '7/10'], 'data': {'Distance': ['1.33mi', '3.03mi', '2.56mi'], 'Grades': ['6-8', 'PK-5', '9-12']}, 'name': ['Rapid Run Middle School', 'John Foster Dulles Elementary School', 'Oak Hills High School']}]                                                                                                                                                                                                                                    1
Name: schools, Length: 297365, dtype: int64

In [16]:
dataset['sqft'].value_counts()

0                                          11854
1,200 sqft                                   839
1,000 sqft                                   654
1,100 sqft                                   573
1,800 sqft                                   563
                                           ...
8,087 sqft                                     1
Total interior livable area: 4,504 sqft        1
12,863                                         1
5,442                                          1
18,000                                         1
Name: sqft, Length: 25405, dtype: int64

In [17]:
dataset['zipcode'].value_counts()

32137         2141
33131         1563
34747         1488
78245         1390
34759         1333
              ...
77562            1
27610-8706       1
97759            1
27606-2215       1
27703-2540       1
Name: zipcode, Length: 4549, dtype: int64

In [18]:
dataset['beds'].value_counts()

3 Beds        53459
4 Beds        35418
3             31406
2 Beds        26362
4             20030
              ...
4,556 sqft        1
9,291 sqft        1
6.31 acres        1
9,365 sqft        1
1,568 sqft        1
Name: beds, Length: 1184, dtype: int64

In [20]:
dataset['state'].value_counts()

FL    115449
TX     83786
NY     24479
CA     23386
NC     21862
TN     18340
WA     13826
OH     12588
IL      8939
NV      8482
GA      6705
CO      6404
PA      5561
MI      5161
DC      4674
AZ      3347
IN      3328
OR      2789
MA      1516
UT      1325
MD      1090
VT       868
MO       866
VA       801
WI       452
NJ       436
ME       259
IA       242
KY        90
OK        49
MS        40
SC        28
MT         7
DE         5
BA         1
AL         1
OT         1
Fl         1
OS         1
Name: state, dtype: int64

In [21]:
dataset['stories'].value_counts()

1.0                     67454
2.0                     55283
1                       23086
2                       18146
3.0                     11275
                        ...
2 Stories, Tear Down        1
None                        1
2 Stories, Townhouse        1
Tudor                       1
65.0                        1
Name: stories, Length: 348, dtype: int64

In [22]:
dataset['mls-id'].value_counts()

No MLS#      3
No           3
201909981    2
201906177    2
A10518254    2
            ..
10637785     1
F10189518    1
219109181    1
14191254     1
100185023    1
Name: mls-id, Length: 24907, dtype: int64

In [23]:
dataset['PrivatePool'].value_counts()

yes    28793
Yes    11518
Name: PrivatePool, dtype: int64

In [24]:
dataset['MlsId'].value_counts()

NO MLS                     24
No MLS #                   16
 A, Houston, TX 77008      13
 12A, Orlando, FL 32833    11
No                          9
                           ..
14146832                    1
190016452                   1
14237675                    1
684284                      1
72550986                    1
Name: MlsId, Length: 232944, dtype: int64

In [25]:
dataset['target'].value_counts()

$225,000     1462
$275,000     1355
$250,000     1312
$350,000     1296
$299,900     1276
             ...
$101,218        1
$189,246        1
4,980,000       1
$348,530        1
790,924         1
Name: target, Length: 43939, dtype: int64